@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply text-orange-500;
  }
} */

@layer utilities {
  .text-bigger-hello {
    @apply text-3xl font-semibold;
  }
}

@layer components {
  .primary-btn {
    @apply w-full bg-neutral-900 text-white  font-medium py-2.5 rounded-md text-center hover:bg-neutral-700 transition-colors;
  }
}

/* src/app/globals.css */
.edit-button {
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: #3b82f6;
  color: white;
  transition: background-color 0.2s;
}
.edit-button:hover {
  background-color: #2563eb;
}